
html,body{height: 100%; width: 100%;}
html { /*375*/
    font-family: -apple-system-font, Helvetica Neue, sans-serif;

}

.hide_title{ display: none}
img[src=""],img:not([src]){opacity:0;}
*:not(input,textarea){
    -webkit-user-select:none;
    -moz-user-select:none;
    -khtml-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


.active:active{ background: #eee !important}
/*input textarea 提示颜色*/
input,textarea::-webkit-input-placeholder{color:rgba(69, 75, 84, 0.7);}
input,textarea{-webkit-appearance:none;outline: 0;resize: none;color:rgba(69, 75, 84, 0.7)}
.heartUp {
    -webkit-animation: heart 0.1s linear;
    -moz-animation: heart 0.1s linear;
    -ms-animation: heart 0.1s linear;
    -o-animation: heart 0.1s linear;
    animation: heart 0.1s linear;
}

@-webkit-keyframes heart {
    from {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    to {
        -webkit-transform: scale(1.2,1.2);
        -moz-transform: scale(1.2,1.2);
        -ms-transform: scale(1.2,1.2);
        transform: scale(1.2,1.2);
    }
}
@keyframes heart {
    from {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    to {
        -webkit-transform: scale(1.2,1.2);
        -moz-transform: scale(1.2,1.2);
        -ms-transform: scale(1.2,1.2);
        transform: scale(1.2,1.2);
    }
}




/*文本输入*/
.comment_box .placeholder{ font-size: 14px; color:rgba(36,37,61,0.5); line-height: 32px; width: 60%; overflow: hidden; position: absolute; top:4px; left:15px; z-index: 20}
.comment_box{
    width: 100%;
    background: #f5f5f5;
    position: fixed;
    left: 0;
    z-index: 10000;
    border-top:1px solid #ccc;
}
.comment_header{
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    padding:0 15px;
}
.comment_box .cancel{
    margin-left: 3px;
    color: rgba(36,37,61,1);
    float: left;
}
.comment_p{
    color: rgba(36,37,61,0.5);
    font-size:13px;
    line-height: 26px;
    position: absolute;
    left:10px;
    width: 50px;
}
.comment_box .release{
    position: absolute;
    right: 5px;
    width:60px ;
    height: 30px ;
    font-size: 13px;
    border-radius: 3px;
    background: #94db93  ;
    border:1px solid #91cc91;
    line-height: 30px;
    text-align: center;
    color:#fff;
    top: 50%;
    margin-top: -16px;

}
.comment_box .box{
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    margin:6px;
    padding: 5px 0 ;
    width: 75%;padding-left: 6px;
    position: relative;
    background: #ffffff;
    font-size: 0;

}
.comment_box .comment_text{

    border-radius: 4px;
    outline: none;
    min-height: 20px;height: 20px;
    background: #ffffff;
    max-height: 60px;
    overflow-y: auto;
    font-size: 16px;
    line-height: 20px;
    width: 100%;

    border: none;
}
.comment_box.addactive{
    /*animation: addheight .2s linear;*/
    bottom: 0;
}
.comment_box.subactive{
    /*animation: subheight .2s linear;*/
}
@keyframes addheight
{
    from {bottom: -186px;}
    to {bottom: 0;}
}

@-moz-keyframes addheight /* Firefox */
{
    from {bottom: -186px;}
    to {bottom: 0;}
}

@-webkit-keyframes addheight /* Safari 和 Chrome */
{
    from {bottom: -186px;}
    to {bottom: 0;}
}

@-o-keyframes addheight /* Opera */
{
    from {bottom: -186px;}
    to {bottom: 0;}
}

@keyframes subheight
{
    from {bottom: 0;}
    to {bottom: -186px;}
}

@-moz-keyframes subheight /* Firefox */
{
    from {bottom: 0;}
    to {bottom: -186px;}
}

@-webkit-keyframes subheight /* Safari 和 Chrome */
{
    from {bottom: 0;}
    to {bottom: -186px;}
}

@-o-keyframes subheight /* Opera */
{
    from {bottom: 0;}
    to {bottom: -186px;}
}
input { border: 0}
li{list-style: none}









.actionSheet_wrap .doAction{
    font-size: 16px;
    color: red;
}
.actionSheet_wrap .weui-actionsheet__title-text{
    color: rgba(36,37,61,0.5);
    font-size: 13px;
    height: 40px;

}

.weui-switch:checked{border: 1px solid #ff7900; background: #ff7900}

a{
    -webkit-touch-callout: none;
}


.weui-mask{ -webkit-tap-highlight-color: rgba(0,0,0,0)}
.weui-toast{
    height:2.20rem !important;
    width:2.20rem !important;
    min-height: 0 !important;
    background:rgba(0, 0, 0, 0.5) !important;
    top:50% !important;
    margin-top: -1.10rem !important;
    margin-left: -1.10rem !important;
}

.weui-icon_toast.weui-icon-success-no-circle:before{
    font-size: 0.96rem !important;
}
.weui-toast__content{
    font-size: 13px !important;
    line-height: 14px !important;

}
.weui-icon_toast.weui-loading{
    width: 0.80rem !important;
    height: 0.80rem !important;
    margin-top: 0.52rem !important;
    margin-bottom: 0.40rem !important;
    vertical-align:middle !important;
}
.weui-icon-success-no-circle{
    margin-top: 0.40rem !important;
    margin-bottom: 0.28rem !important;
}

.share{

    line-height: 40px;
    height: 40px;
    font-size: 14px;
    margin: 25px 15px 30px 15px;
    color: #696969;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: #FFFFFF;
    border-radius: 5px;
    text-align: center;
}

.weui_tip{ position: absolute; top:50%; margin-top: -18px ; width:50%;left:25%;background:rgba(0,0,0,0.6); border-radius: 10px;  color:#fff;   padding: 18px 0px;   line-height: 24px !important; z-index: 10010; text-align: center }
.weui_tip .tip_txt{ margin: 0 18px; text-align: center; display: block}
.clear{ clear: both;}


/*专家列表*/
.answer_list .item{ background: #fff; padding:0.30rem; margin-top:0.02rem ;position: relative;padding-top: 0.42rem;}
.answer_list .itemHeader{height:0.50rem;line-height: 0.50rem;color:RGBA(69, 75, 84, 1);font-size: 0.3rem;position: relative;margin-bottom: 0.1rem;}
.answer_list .itemHeader span{color:RGBA(69, 75, 84, 1);font-size: 0.26rem;font-weight: normal;margin-left: 0.14rem;}
/*.answer_list .itemDetail{display: flex}*/
.answer_list .itemDetail_right{width:82%;color:RGBA(69, 75, 84, 1);float: right}
.answer_list .itemDetail_right .title{font-size: 0.28rem;margin-bottom: 0.1rem;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.answer_list .class_s{color:RGBA(74, 74, 74, 0.6);font-size: 0.24rem;line-height: 1.4;margin-bottom: 0.26rem;}

.answer_list .itemDetail_class_s .tab_i_i {    color: RGBA(254, 122, 3, 1);
    background: RGBA(254, 122, 3, 0.1);
    border-radius: 0.05rem;
    padding: 0.07rem 0.10rem;
    margin: 0 0.10rem;}

.answer_list .itemDetail_class_s {
    font-size: 0.24rem;
    color: rgba(36,37,61,0.5);
}
.answer_list .itemDetail_class_s .tab_i_i:first-child {
    margin-left: 0;
}

  .answer_list .class_s .price {
    color: RGBA(254, 122, 3, 1);
}
 .answer_list .class_s .price b {
    color: rgba(36, 37, 61, 0.5);
    font-style: normal;
    font-weight: normal;
    text-align: left
}
.answer_list .other{position: static;
    margin-top: 0.06rem;
    height: 0.50rem;
    margin-bottom: 0;
    display: flex;
    width: 100%}
.answer_list  .line1{
    position: absolute;
    width: 5.82rem;
    height: 1px;
    background: #eee;
    bottom: 0.82rem;
    right: 0.00rem;
}
.answer_list .other span{flex:1;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; margin-top: 0.08rem}
.answer_list .other .class_right{flex:2;text-align: right}
.answer_list .other .class_right>span:nth-of-type(1){margin-right: 0.36rem;}
.answer_list .other .ml{text-align: center}
.answer_list .item .img{ width: 1rem;
    height: 1rem;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    float: left;
}
.answer_list .item .img img{ width: 100%; height: 100%;}

.audio{ margin-bottom: 0.10rem;}

.audio .minute{ color:rgba(36,37,61,0.5); font-size: 0.26rem; margin-left: 0.27rem; float:left; line-height: 0.82rem;}


.audio .audio_btn{   width:3.52rem; float:left; position: relative;  height:0.82rem; line-height: 0.82rem;  background:linear-gradient(to right, rgba(90,188,251,1), rgba(68,163,255,1));font-size: 0.30rem;  border-radius: 0.41rem ; text-align: center; color:#fff; margin-left:0.20rem }
.audio .audio_btn:active{ background:linear-gradient(to right, rgb(87, 180, 240), rgb(67, 149, 240));}
.audio .audio_btn.pay{ background:linear-gradient(to right, rgba(255,158,25,1), rgba(253,114,6,1));  }
.audio .audio_btn.pay:active{ background:linear-gradient(to right, rgb(240, 144, 25), rgb(240, 114, 6));   }
.audio .audio_btn .second{ color:#fff; font-size: 0.31rem; position: absolute; right:0.20rem;top:0}

.audio.playing .audio_btn:before{
    animation: sond_playing 1.5s infinite;
    -webkit-animation: sond_playing 1.5s infinite;
}

@keyframes  sond_playing {
    0%{
        width:0.07rem;
    }
    25%{
        width:0.07rem;
    }
    49%{
        width:0.07rem;
    }
    50%{
        width:0.14rem;
    }
    74%{
        width:0.14rem;
    }
    75%{
        width:0.23rem;
    }
    100%{
        width:0.23rem;
    }
}






.nothing{text-align: center; width: 100%; height:100%;background: #fff; }
.nothing>div{padding-top: 1.50rem;position: relative;}
.nothing img{ max-width: 100%}
.nothing .nothing_bottom{position: absolute;width:100%;bottom:0;color:#C3C5CD;font-size: 0.24rem;line-height: 0.41rem}
.nothing .nothing_bottom p{font-size: 0.30rem;color:#95979D;}
.nothing .nothing_bottom div{width:2.20rem;height:0.60rem;border:1px solid #FE7301;color:#FE7301;font-size: 0.30rem;line-height: 0.60rem;border-radius: 5px;margin:0 auto;margin-top:0.16rem;}
.nothing .nothing_bottom div:active{
    border:1px solid #FE7301;color:#fff; background: #FE7301;
}
.wbg{ background: #fff !important}
.top_tip{ background: #F4F4F7;text-align: center; line-height:0.88rem; font-size:0.30rem;  color:rgba(36,37,61,0.5)  }


/*专家头像及个人描述*/
.steal_expert_info{
    background: #fff;
    position: relative;
    padding:0.30rem;
}

.steal_expert_info div:nth-of-type(1){
    height:0.40rem;
    line-height: 0.40rem;
}
.steal_expert_info img{
    height:0.88rem;
    width:0.88rem;
    display: block;
    position: absolute;
    left:0.30rem;
    border-radius: 50%;
}
.steal_expert_name{
    color:rgba(36,37,61,1);
    font-size: 0.36rem;
    margin-right: 0.24rem;
    float: left;
}
.steal_expert_fans{
    color: rgba(36,37,61,0.5);
    font-size: 0.26rem;
    float: left;
}
.steal_expert_des{
    width:75%;
    color: rgba(36,37,61,0.8);
    font-size: 0.28rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1;
    padding-top: 0.16rem;
}
.followed_box{
    height:0.51rem;
    line-height: 0.51rem;
    border:1px solid #FE7301;
    display: inline-block;
    width:1.02rem;
    text-align: center;
    color:#FE7301;
    border-radius: 0.10rem;
    position: absolute;
    right: 0.30rem;
    top: 50%;
    margin-top: -0.26rem;
    font-size: 0.24rem;
}
.followed_box img{
    display: inline-block;
    width: 0.18rem;
    margin-right: 0.10rem;
    margin-top: 0;
    position: static;
    height:auto;
}
.isfollow_style{
    color:rgba(36,37,61,0.5);
    border-color:rgba(36,37,61,0.5)
}
/*一对一、抢答问题描述详情*/
.my_problem_detail{
    background: #fff;
}
.problem_detail_header{
    padding:0.30rem 0.30rem 0 0.30rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    color: rgba(36,37,61,0.7);
    font-size: 0.26rem;
    position: relative;
    margin-bottom: 0.20rem;
    line-height: 0.58rem;
}
.problem_detail_header>div:nth-of-type(1){
    margin-left: 0.20rem;
}
.problem_detail_header>div:nth-of-type(2){
    color: rgba(36,37,61,0.5);
    position: absolute;
    right:0.30rem;
}
.problem_detail_content{
    padding:0 0.30rem;
    color: rgba(36,37,61,1);
    font-size: 0.28rem;
}
/*底部 信息展示 听过 点赞*/
.problem_answer_bottom{
    color: rgba(36,37,61,0.5);
    font-size: 0.24rem;
    height: 0.32rem;
    line-height: 0.32rem;
    margin-bottom: 0.24rem;
    padding:0 0.30rem;
}
.problem_answer_time{
    float: left;
}
.problem_answer_zan{
    float: right;
}
.problem_answer_zan div{
    float: left;
    margin-left: 0.40rem;
}
.problem_answer_zan img{
    display: inline-block;
    width: 0.32rem;
    margin-right: 5px;
    float: left;
}
.problem_answer_zan span{
    float: left;
    padding-top:0.03rem;
    margin-left: 0.03rem;
}
/* 弹出框 解答须知*/
.myask_know_box{
    padding-top: 0.38rem;
    text-align: left;
    color: rgba(36,37,61,0.7);
    font-size:0.28rem;
    line-height: 0.40rem;
}
.myask_know_box h3{
    text-align: center;
    margin-bottom: 0.30rem;
}
.myask_know_box li{
    padding: 0 0.30rem;
    margin-bottom: 0.20rem;
}
.myask_know_box b{
    color: rgba(36,37,61,1);
}
.myask_class{
    width:5.60rem;
    text-align: center;
    padding-top: 0.64rem;
    background: #fff;
    color: rgba(36,37,61,0.5);
    font-size: 0.24rem;
    border-radius: 5px;
    position: absolute;
    top:30%;
    left:50%;
    margin-left: -2.80rem;
    overflow: hidden;
}
.myask_class h3{
    font-size:0.36rem;
    font-family:PingFangSC-Regular;
    color:rgba(36,37,61,1);
    line-height:1;
    margin-bottom: 0.68rem;
}
.myask_class_true{
    font-size: 0.36rem;
    height:1.00rem;
    line-height: 1.00rem;
    color: rgba(253,114,6,1);
    text-align: center;
    border-top: 1px solid #eee;
}
.myask_class_true:active{
    background: #ccc;
}
.myask_class_box .myask_class_listactive{
    border-color: rgba(253,114,6,1);
    color: rgba(253,114,6,1);
}

/*语音样式*/
.problem_answer_yy{
    position: relative;
    display: inline-block;
}
.problem_answer_yy .problem_answer_ly{
    display: block;
    height: auto;
    width: 3.48rem;
    border-radius: 0;
    margin:0;
}
.problem_answer_play{
    position: absolute;
    color: #fff;
    font-size: 0.30rem;
    width: 2.00rem;
    left: 50%;
    margin-left: -1.00rem;
    text-align: center;
    top:50%;
    line-height: 1;
    margin-top:-0.22rem;
}
.answer_play_time{
    position: absolute;
    right:-0.68rem;
    line-height: 1;
    top:34%;
    color: rgba(36,37,61,0.5);
    font-size: 0.26rem;
}
.problem_answer_yy .problem_answer_sond{
    height:16px;
    display: block;
    position: absolute;
    width:auto;
    top:50%;
    margin-top:-0.20rem;
    left:0.30rem;
}


/*clip*/
.htmleaf-container{
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: #000;
    z-index: 9999999;
}
#clipArea {
    height: 100%;
}
/*上传图标*/
#file{
    float: left;
    height: 100%;
}
#clipBtn,.clipbuttonopen{
    float: right;
    height: 0.68rem;
    line-height: 0.68rem;
    width: 1.36rem;
    background: #2ca02c;
    border-radius: 0.17rem;
    outline: none;
    color: #fff;
    font-size: 0.30rem;
    z-index: 999;
    top:0.30rem;
    right:0.30rem;
    position: absolute;
    border:0;
}
.clipbuttonopen{ left:0.30rem;}
#clipFile{ display: none}


.foot-use{
    height: 10%;
    width: 100%;
    position: absolute;top:0;
}
.clipUpload {
    position: absolute;
    width: 50%;
    cursor: default;
    height: 100%;
    float: left;
}
.weui-picker__action{
    color: rgba(254,115,1,1) !important;
}
.weui-picker__action:first-child{
    color:#888 !important;
}
.weui-btn_disabled{
    background: linear-gradient(to right, rgba(255,158,25,0.6), rgba(253,114,6,0.6)) !important;
}
.weui-btn_primary{
    background: linear-gradient(to right, rgba(255,158,25,1), rgba(253,114,6,1));
}
.weui-btn:after{
    border: 1px solid rgba(0,0,0,0) !important;
}
.stepStyle{height: 0.72rem;line-height: 0.72rem;text-align: center;color:rgba(36,37,61,0.7);font-size: 0.28rem;border-bottom: 1px solid #eee;margin-bottom: 0.28rem}
.joinStep_title{color:#454B54;font-size: 0.32rem;text-align: center;line-height: 1;font-weight: bold;margin-bottom: 0.30rem}

.weui-tab__panel{ padding-bottom: 0 !important;}

/*屏蔽运营商劫持加入广告*/
body>*:not(div):not(script):not(#ping_iframe):not([id*="__WeixinJSBridgeIframe"]):not(article){ display: none}
html>*:not(body):not(head):not(#ping_iframe):not([id*="__WeixinJSBridgeIframe"]):not(#__vconsole){ display: none}
body>div:not(#action_sheet_edit):not(#app):not(#toast):not(.actionSheet_wrap):not(.js_dialog):not(.weui-mask):not([class='']){ display: none}
body>div[class='']>*:not(.weui-mask):not(.weui-picker){ display: none}

/*入驻步骤按钮*/
.over_nor_btn{position: absolute;bottom:0;width:100%;background: linear-gradient(rgba(255,158,25,0.5),rgba(253,115,1,0.5));    font-size: 0.36rem;text-align: center;line-height: 0.86rem;color:rgba(255,255,255,1)}
.over_per_btn{background: linear-gradient(rgba(255,158,25,1),rgba(253,115,1,1)); }



/*录音*/
.record_voice_box{ position: absolute; bottom:0; width: 100%}
.record_voice_box .gg{width:100px;height:100px;position: absolute;background: #E4E4E5;border-radius: 50%;top:50%;left:50%;margin-left:-50px;margin-top:-50px;}
.record_voice_box .move{position: relative;}
.record_voice_box .qq{width:12px;height:12px;border-radius: 50%;background:#4493FF;top:-4px;left:50%;margin-left: -6px;position: absolute;}
.record_voice_box .circle {  width: 108px;  height: 108px;  position: relative;  border-radius: 50%;  background: #4493FF;  bottom:1.36rem; left:50%; margin-left: -54px;  }
.record_voice_box .move{  width: 108px;  height: 108px;  position: absolute;  border-radius: 50%;  }
.record_voice_box  .pie_left,  .record_voice_box .pie_right ,.record_voice_box  .pie_left_play,  .record_voice_box .pie_right_play {  width:108px;  height:108px;  position: absolute;  top: 0;left: 0;  }
.record_voice_box .left,.record_voice_box .right ,.record_voice_box .left_play,.record_voice_box .right_play {  width:108px;  height:108px;  background:#E4E4E5;  border-radius: 50%;  position: absolute;  top: 0;  left: 0;  }
.record_voice_box .pie_right, .record_voice_box .right,.record_voice_box .pie_right_play, .record_voice_box .right_play {  clip:rect(0,auto,auto,54px);  }
.record_voice_box .pie_left, .record_voice_box .left ,.record_voice_box .pie_left_play, .record_voice_box .left_play{  clip:rect(0,54px,auto,0);  }
.pie_left_play ,.pie_right_play{   display: none}



.record_voice_box .mask {  width:90px;  height: 90px;  border-radius: 50%;  background:#FE7301 100%;  position: absolute;  top:50%;  left:50%;  margin-top:-45px;  margin-left:-45px;  text-align: center;  line-height: 80px; color:#fff;     z-index: 3; }
.record_voice_box .mask i{ display: block; position: absolute;
    left: 50%; top:50% }
.record_voice_box  .tip{ position: absolute; top:55px; text-align: center; width: 100%; color:rgba(36,37,61,0.5) ; font-size: 0.28rem;}
/*选择问题类型弹窗*/
.select_type{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
}
.dialog_select_type{
    background: #fff;
    border-radius: 10px;
    width: 80%;
    height: 5.44rem;
    position: fixed;
    top: 50%;
    margin-top: -3.23rem;
    left: 50%;
    margin-left: -40%;
    z-index: 10001;
    overflow: hidden;
}
.dialog_select_type .select_title{
    text-align: center;
    line-height: 1.02rem;
    font-size: 0.34rem;
    font-weight: bold;
}
.dialog_select_type .select_types{
    margin: 0.34rem 0;
}
.dialog_select_type .select_types .item{
    width: 27%;
    float: left;
    text-align: center;
    line-height: 0.62rem;
    border-radius: 0.10rem;
    margin: 0 3%;
    margin-bottom: 0.30rem;
    font-size: 0.24rem;
    color: rgba(36,37,61,0.8);
    background: rgba(245,245,245,1);
}
.dialog_select_type .select_types .item.on{
    background: rgba(253,115,1,1);
    color: #fff;
}
.dialog_select_type  .select_yes{
    border-top: 1px solid #eee;
    color: #FE7301;
    text-align: center;
    line-height: 0.88rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
}
.select_yes div{
    flex: 1;
}
.select_yes div:nth-of-type(1){
    border-right: 1px solid rgba(224,224,225,1);
    color:rgba(36,37,61,0.5)
}
.select_yes div:active{background: #eee}

/*设置入驻资料公共样式*/
.joinSet_top{
    height:1.20rem;
    background: RGBA(69, 75, 84, 0.03);
    position: relative;
}
.joinSet_top div{
    width:1.20rem;
    height:0.60rem;
    line-height: 0.61rem;
    border-radius: 0.06rem;
    color:RGBA(53, 53, 53, 1);
    background: RGBA(248, 248, 248, 1);
    font-size: 0.26rem;
    text-align: center;
    border:1px solid RGBA(5, 5, 5, 0.1);
    position: absolute;
    top:50%;
    margin-top: -0.30rem;
}
.joinSet_top .joinSet_cancel{
    left:0.60rem;
}
.joinSet_top .joinSet_sure{
    background: RGBA(254, 122, 3, 1);
    color:RGBA(255, 255, 255, 1);
    border:1px solid RGBA(5, 5, 5, 0.08);
    right:0.40rem;
}

.joinstep_background{
    width:100%;
    height:100%;
    background: RGBA(69, 75, 84, 0.03);
}
.joinSet_top .sure_nor{
    background: RGBA(254, 122, 3, 0.4);
}
.regcom_Style_back{
    background: #fff !important;
}
.regcom_Style_back .text_area{background: #fff;padding:0.16rem 0.30rem;position: relative;overflow: hidden}
.regcom_Style_back .text_area textarea{color:rgba(69, 75, 84, 1);border:0;font-size: 0.28rem;line-height: 0.40rem;width:100%;height:100%;}
.regcom_Style_back .text_area .placeholder{position: absolute;color:RGBA(69, 75, 84, 0.59);font-size: 0.28rem;width:92%;height:100%;z-index: 1001}

.last_red_color{ color:red !important ;}